{
    "presets": [[
            "env",
            {
                "targets": {
                    "node": true                    
                }
            }      
        ]],
    "plugins": ["transform-object-rest-spread"]
        
}