{
    "presets": [[
            "env",
            {
                "targets": {
                    "node": "current"
                }
            }      
        ]]
        ,
        "ignore": [
            "**/workers/*.js"
        ]
}